canvas {
    border: 1px solid black;
  }

  body {
    margin: 0;
  }
  
  .description {
    position: absolute;
    z-index: 100;
    color: orange;
    font-family: Roboto, Arial;
    margin-left: 25px;
  }


